@{
    ViewBag.Title = "Home Page";
}
<style>
    .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
</style>

<div class="jumbotron">
    <h1>程式</h1>
    <p class="lead">上班非常的無聊，需要寫一些東西來調劑一下身心，保持愉悅心情!!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>第一次使用看這邊</h2>
        <p>
            再爛的功能還是需要登入，所以請註冊一個帳號吧.
        </p>
        <p><a class="btn btn-default" data-toggle="modal" data-target="#fastRegister">快速註冊 &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>會員登入</h2>
        <p>真的不知道要寫啥....登入就對了</p>
        <p><a class="btn btn-default" data-toggle="modal" data-target="#fastLogin">登入 &raquo;</a></p>
    </div>
</div>

<!-- Modal -->
<!-- BEGIN # MODAL Register -->
<div class="modal fade" id="fastRegister" role="dialog">
    <div class="modal-dialog" style="width:350px;">
        @{
            Html.RenderAction("RegisterPage", "Home");
        }
    </div>
</div>


<!-- Modal -->
<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="fastLogin" role="dialog">
    <div class="modal-dialog" style="width:350px;">
     @{
         Html.RenderAction("RegisterPage","Home");
     }
    </div>
</div>


